node_modules/
www/
ios/App/App/public/
ios/App/App/capacitor.config.json
ios/App/App/config.xml
ios/App/App.xcodeproj/xcuserdata/
ios/App/App.xcworkspace/xcuserdata/
ios/App/build/
android/.gradle/
android/.idea/
android/local.properties
android/build/
android/app/build/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/capacitor-cordova-android-plugins/
*.keystore
*.jks
keystore.properties
*.p12
*.mobileprovision
